@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
}
body{
  background: linear-gradient(315deg, #0ff0ca, #00ff59);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ffea74, #e61aa4,#4222ff);
  animation:color 1s ease-in reverse infinite;
}
@keyframes color{
  0%{
    background: linear-gradient(45deg, #ffea74, #e61aa4,#4222ff);
  }
  20%{
    background: linear-gradient(60deg, #4222ff, #e61aa4,#ffea74);
  }
  40%{
    background: linear-gradient(90deg, #4222ff, #e61aa4,#ffea74);
  }
  60%{
    background: linear-gradient(125deg, #4222ff, #e61aa4,#ffea74);
  }
  80%{
    background: linear-gradient(145deg, #4222ff, #e61aa4,#ffea74);
  }
  100%{
    background: linear-gradient(160deg, #4222ff, #e61aa4,#ffea74);
  }
}
.uil-usd-circle:before{
  font-size:2rem;
}
.form-group{
  height:fit-content;
}
.container{
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 24px;
  border-radius: 25px;
  width: 530px;
  gap: 16px;
  transition:all 0.7s;
}
.container:hover{
  box-shadow: 1rem 2rem 3rem #8161df;
  transform:scale(1.1);
}
h1{
  color: #364547;
  font-family: sans-serif;
  font-family: 'Dongle', sans-serif;
  text-align:center;
  font-size:47px;
}
.container .box{
  width: 100%;
  display: flex;
}
.box div{
  width: 100%;
}
label{
  color:#323248;
  font-size:20px;
  font-weight:bolder;
  font-size: 33px;
}
select{
  width: 95%;
  height: 40px;
  cursor: pointer;
  outline: none;
  margin: 0.2em 0;
  padding: 0 1em;
  border-radius: 10px;
  border: 20px;
  --bg: #cad0cadd;
  --hover-bg: transparent;
  --hover-text: #000;
  color: black;
  align:center;
  border:1px solid grey;
  font-size:25px;
  font-weight:500;
  cursor: pointer;
  background: var(--bg);
  transition: 0.2s;
}
option{
  font-size:30px;
  display:inline;
}
select:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}
select:active {
  transform: translate(0);
  box-shadow: none;
}
input {
 color: #080808
 border: 2px solid #00ff7b;
 border-radius: 10px;
 padding: 10px 25px;
 background: transparent;
 width: 95%;
 height: 40px;
 font-size:30px;
}
input:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: transparent;
  box-shadow: 0.25rem 0.25rem var(--bg);
}
.btn {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  align:center;
  border:0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  background: #4954aa;
  transition: 0.2s;
  border:2px solid white;
  transition:all 0.9s;
  margin-bottom:2rem;
  font-size:1.3rem;
}
.btn:hover {
  color: var(--hover-text);
  border-color:black;
  transform: scale(1);
  background: transparent;
  box-shadow: 0.5rem 0.5rem 1.2rem var(--bg);
}
.btn:active {
  transform: translate(0);
  box-shadow: none;
}