body{
     margin: 0px;
    background-color:#EAF6F5;

}
.top{
    margin: 5px;
    background-color:#EAF6F5;
    text-align: center;
    color: #66BFBF;
    font-family: 'Courier New', Courier, monospace;
    /* height : 200px;
    width  : 200px; */
    /* border: solid 10px; */
    padding: 20px;
}



img{
    filter: drop-shadow(0px 0px 07px black);
    transition: all;
}
img:hover{
    filter: drop-shadow( 04px 05px 07px black);
}

.myPic{
    display: flex;
    align-items: center;
    justify-content: center;
  }