body
{
    background-color: aliceblue;
}

hr{
            border-style:none;
            border-top-style:dotted;
            border-color: gray;
            border-width: 5px;
            width: 5%;
}

h1,h2,h3,th
{
    color: #def50a;

}

/* img:hover{
    filter: drop-shadow(0px 0px 10px rgb(244, 6, 6));
} */

img{
    filter: drop-shadow(0px 0px 10px orange);
    animation:color 0.9s ease-in reverse infinite;
}
@keyframes color{
  50%{
    filter: drop-shadow(0px 0px 10px black);
  }

  100%{
    filter: drop-shadow(0px 0px 10px red );
}
}
.info{
    margin: 20px;
}